<div class="card" id="newavatarcard" hidden>
    <div class="card-header">
        <h4 class="card-title">Avatar <i class="la la-check-circle-o font-medium-3" style="color:green;" hidden id="logofinisheicon"></i></h4>
        <a class="addlogoheader heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><a data-action="collapse" id="mylfilecollapse"><i class="ft-minus"></i></a></li>
              <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
              <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
        </div>
    </div>
    <div class="card-content" id="logocard">
        <div class="card-body">


            <h6> Avatar</h6>
            <fieldset>
                <div class="row">
                  <button type="submit" class="btn btn-warning" id="avatarskip"><i class="la la-check-square-o"></i> Cancel</button>
                  <form action="#" class="dropzone  dropzone-area " id="avatarfiles" >
                    <div id="chbav"><input type="checkbox" id="avasshcl" checked> <label for="avasshcl">Use avatar as Short Company Logo</label></div>
                      <div class="dz-message">Drop Files Here To Upload</div>
                  </form>
                  <div class="icheckbox_line-blue">

                  </div>
            </fieldset>


              </div>
          </div>
      </div>
