<div class="card" id="newlogo" hidden>
    <div class="card-header">
        <h4 class="card-title">Logo <i class="la la-check-circle-o font-medium-3" style="color:green;" hidden id="logofinisheicon"></i></h4>
        <a class="addlogoheader heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><a data-action="collapse" id="mylfilecollapse"><i class="ft-minus"></i></a></li>
              <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
              <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
        </div>
    </div>
    <div class="card-content " id="logocard">
        <div class="card-body">

          <div  class="mycompanylogowizard wizard-circle">
            <!-- Step 1 -->
            <h6><i class="step-icon la la-home"></i> Avatar</h6>
            <fieldset>
                <div class="row">
                  <form action="#" class="dropzone  dropzone-area " id="avatarfiles" >
                    <input type="checkbox" id="avasshcl" checked> <label for="avasshcl">Use avatar as Short Company Logo</label>
                      <div class="dz-message">Drop Files Here To Upload</div>
                  </form>
                  <div class="icheckbox_line-blue">

                  </div>
            </fieldset>

            <!-- Step 2 -->
            <h6><i class="step-icon la la-home"></i> Short Company Logo</h6>
            <fieldset>
                <div class="row">
                  <form action="#" class="dropzone  dropzone-area " id="sclogofiles" >
                      <div class="dz-message">Drop Files Here To Upload</div>
                  </form>
                  </div>
            </fieldset>
            <h6><i class="step-icon la la-home"></i> Company Logo</h6>
            <fieldset>
                <div class="row">
                  <form action="#" class="dropzone  dropzone-area " id="clogofiles" >
                      <input type="checkbox" id="avasshclb" checked> <label for="avasshclb">Use Company Logo as Logo in Invoices</label>
                      <div class="dz-message">Drop Files Here To Upload</div>
                  </form>
                  </div>
            </fieldset>
            <h6><i class="step-icon la la-home"></i> Invoice  Logo</h6>
            <fieldset>
                <div class="row">
                  <form action="#" class="dropzone  dropzone-area" id="invoicefiles" >
                      <div class="dz-message">Drop Files Here To Upload</div>
                  </form>
                  </div>
            </fieldset>
            </div>
<button type="submit" class="btn btn-warning" id="logoskip"><i class="la la-check-square-o"></i> Skip</button>
              </div>
          </div>
      </div>
