<div class="card" >
    <div class="card-header">
        <h4 class="card-title">Files <i class="la la-check-circle-o font-medium-3" style="color:green;" hidden id="filesfinisheicon"></i></h4>
        <a class="addfilesheader heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><a data-action="collapse" id="myfilecollapse"><i class="ft-minus"></i></a></li>
              <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
              <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
        </div>
    </div>
    <div class="card-content collapse" id="filescard">
        <div class="card-body">

                  <p class="card-text"></p>
<button type="submit" class="btn btn-success" id="personfilesfinish"><i class="la la-check-square-o"></i> Finish</button>
                  <form action="#" class="dropzone dropzone-area" id="personfiles">
                      <div class="dz-message">Drop Files Here To Upload</div>
                  </form>

              </div>
          </div>
      </div>
