<div class="card" id="newshortlogo" hidden>
    <div class="card-header">
        <h4 class="card-title">Short Company Logo <i class="la la-check-circle-o font-medium-3" style="color:green;" hidden id="logofinisheicon"></i></h4>
        <a class="addlogoheader heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><a data-action="collapse" id="mylfilecollapse"><i class="ft-minus"></i></a></li>
              <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
              <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
        </div>
    </div>
    <div class="card-content" >
        <div class="card-body">


            <h6> Short Company Logo</h6>
            <button type="submit" class="btn btn-warning" id="shortlogoskip"><i class="la la-check-square-o"></i> Close</button>
            <fieldset>
                <div class="row">
                  <form action="#" class="dropzone  dropzone-area " id="sclogofiles" >
                    <input type="checkbox" id="sclasavacheckbox" checked> <label for="sclasava">Use Short Company Logo as Avatar</label>
                      <div class="dz-message">Drop Files Here To Upload</div>
                  </form>
                  <div class="icheckbox_line-blue">

                  </div>
            </fieldset>


              </div>
          </div>
      </div>
