<div class="customrepeater" index="1">
<div data-repeater-list="car">
    <div data-repeater-item>
<form action="#" class=" ">
                  <div class="row">
                      <div class="col-md-12">
                        <div class="form-group" id="ccurnamex" >
                            <label for="customdesc">Description</label>
                            <input type="text" class="form-control"  name="customdesc">
                        </div>
                        <div class="form-group">
                            <label for="customtype">Type</label>
                            <div stile="display:block;">
                            <input type="text" class="form-control" name="customtype" >
                            </div>
                        </div>
                    <div class="form-group">
                        <label for="customvalue">Value</label>
                        <div stile="display:block;">
                        <input type="text" class="form-control" name="customvalue" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customcomment">Comment </label>
                        <textarea name="customcomment" rows="2" class="form-control"></textarea>
                    </div>

                      <div class="form-group col-sm-12 col-md-2 text-center mt-2">
                      <button type="button" class="btn btn-danger" data-repeater-delete id="custdel"> <i class="ft-x"></i>Delete</button>
                                                                  </div>
                                                                  </div>
                                                                  </div>
</form>
</div>
</div>
<button type="submit" class="btn btn-primary" id="customsave" ><i class="la la-check-square-o"></i> Save</button>
  <button data-repeater-create class="btn btn-primary"><i class="ft-plus"></i> Add</button>
  <button type="submit" class="btn btn-warning" id="customcancel"> Cancel</button>
</div>
