
<form action="#" class=" ">
                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group" >
                            <label for="adrcountry">Host </label>
                            <input type="text" class="form-control"  id="emailhost">
                        </div>
                        <div class="form-group" >
                            <label for="adrcountry">Port </label>
                          <input type="text" class="form-control"  id="emailport">
                        </div>
                        <div class="form-group" >
                            <label for="adrcountry">User </label>
                              <input type="text" class="form-control"  id="emailuser">
                        </div>
                        <div class="form-group" >
                            <label for="adrcountry">Email </label>
                            <input type="text" class="form-control"  id="emailemail">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group" >
                            <label for="adrcountry">Pasword</label>
                            <input type="text" class="form-control"  id="emailpass">
                        </div>
                        <div class="form-group" >
                            <label for="adrcountry">Reply </label>
                            <input type="text" class="form-control"  id="emailreply">
                        </div>
                        <div class="form-group" >
                            <label for="adrcountry">Title</label>
                            <input type="text" class="form-control"  id="emailtitle">
                        </div>

                      </div>

                                                                  </div>
</form>

<button type="submit" class="btn btn-primary" id="emailinvsave" ><i class="la la-check-square-o"></i> Save</button>
  <button type="submit" class="btn btn-warning" id="editemailinvsetcancel"> Cancel</button>
