<div class="emailrepeater" index="1">
<div data-repeater-list="car">
    <div data-repeater-item>
<form action="#" class=" ">
                  <div class="row">
                      <div class="col-md-12">
                        <div class="form-group" id="ccurnamex" >
                            <label for="emaildesc">Description</label>
                            <input type="text" class="form-control"  name="emaildesc">
                        </div>
                    <div class="form-group">
                        <label for="emailinp">Email</label>
                        <div stile="display:block;">
                        <input type="text" class="form-control" name="emailinp" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailcomment">Comment </label>
                        <textarea name="emailcomment" rows="2" class="form-control"></textarea>
                    </div>

                      <div class="form-group col-sm-12 col-md-2 text-center mt-2">
                      <button type="button" class="btn btn-danger" data-repeater-delete id="ccurdel"> <i class="ft-x"></i>Delete</button>
                                                                  </div>
                                                                  </div>
                                                                  </div>
</form>
</div>
</div>
<button type="submit" class="btn btn-primary" id="emailsave" ><i class="la la-check-square-o"></i> Save</button>
<button type="submit" class="btn btn-primary" id="emailsaveperson" hidden><i class="la la-check-square-o"></i> Save</button>
  <button data-repeater-create class="btn btn-primary"><i class="ft-plus"></i> Add</button>
  <button type="submit" class="btn btn-warning" id="emailcancel"> Cancel</button>
</div>
