
<form action="#" class=" ">
                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group" >
                            <label for="adrcountry">Address </label>
                            <select class="custom-select form-control" id="insetnewaddr" name="location" >
                                <option value="">Select Address</option>

                            </select>
                        </div>
                        <div class="form-group" >
                            <label for="adrcountry">Bank Account </label>
                            <select class="custom-select form-control" id="insetnewbank" name="location">
                                <option value="">Select Bank Account</option>

                            </select>
                        </div>
                        <div class="form-group" >
                            <label for="adrcountry">Email </label>
                            <select class="custom-select form-control" id="insetnewemail" name="location">
                                <option value="">Select Email</option>

                            </select>
                        </div>
                        <div class="form-group" >
                            <label for="adrcountry">URL </label>
                            <select class="custom-select form-control" id="insetnewurl" name="location">
                                <option value="">Select URL</option>

                            </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group" >
                            <label for="adrcountry">Phone </label>
                            <select class="custom-select form-control" id="insetnewphone" name="location">
                                <option value="">Select Phone</option>

                            </select>
                        </div>
                        <div class="form-group" >
                            <label for="adrcountry">Fax</label>
                            <select class="custom-select form-control" id="insetnewfax" name="location">
                                <option value="">Select Fax</option>

                            </select>
                        </div>
                        <div class="form-group" >
                            <label for="adrcountry">Mobile</label>
                            <select class="custom-select form-control" id="insetnewmobile" name="location">
                                <option value="">Select Mobile</option>

                            </select>
                        </div>

                      </div>

                                                                  </div>
</form>

<button type="submit" class="btn btn-primary" id="invsave" ><i class="la la-check-square-o"></i> Save</button>
  <button type="submit" class="btn btn-warning" id="invsetcancel"> Cancel</button>
