<div class="table-responsive">
  <table class="table mb-0 table-striped restable"
  id="cprof"
  data-toggle="table"
  data-resizable-columns-id="table"
  data-resizable="true"
  data-card-view="true">
      <thead>
          <tr>
              <th data-field="RegCountry" >Registration Country</th>
              <th data-field="Activity" >Business Activity</th>
              <th data-field="CompanySize" >Company Size</th>
              <th data-field="Type" >Company Type</th>
              <th data-field="RegistrationDate" >Registration Date</th>
              <th data-field="StartDate" >Steatment Start Date</th>
              <th data-field="EndDate" >Steatment End Date</th>
              <th data-field="AcMethod" >Account Method</th>
              <th data-field="Kontenrahmen" >Kontenrahmen</th>
              <th data-field="BusinesNumber" >Business Number</th>
              <th data-field="Finanzamt" >Finanzamt</th>
              <th data-field="TaxNumber" >Tax Number</th>
              <th data-field="VATnumber" >VAT Number</th>
              <th data-field="LEInumber" >LEI Number</th>
              <th data-field="DUNSnumber" >D-U-N-S Number</th>
              <th data-field="Officer" >Officer</th>
              <th data-field="address" data-formatter="addressFormatter">Registratyion Address</th>
              <th data-field="ShareCapital" >Share Capital</th>
              <th data-field="Shares" >Total Shares</th>
              <th data-field="Comment" >Comment</th>
              <th data-field="CreatedAt" >Created</th>
              <th data-field="CreatedByID" >Created By</th>
              <th data-field="CreatedAt" >Edited</th>
              <th data-field="EditedByID" >Edited By</th>

              </tr>
      </thead>
      <tbody >
      </tbody>
  </table>

</div>
