<div class="urlrepeater" index="1">
<div data-repeater-list="car">
    <div data-repeater-item>
<form action="#" class=" ">
                  <div class="row">
                      <div class="col-md-12">
                        <div class="form-group" id="ccurnamex" >
                            <label for="urldesc">Description</label>
                            <input type="text" class="form-control"  name="urldesc">
                        </div>
                    <div class="form-group">
                        <label for="urlinp">URL</label>
                        <div stile="display:block;">
                        <input type="text" class="form-control" name="urlinp" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="urlcomment">Comment </label>
                        <textarea name="urlcomment" rows="2" class="form-control"></textarea>
                    </div>

                      <div class="form-group col-sm-12 col-md-2 text-center mt-2">
                      <button type="button" class="btn btn-danger" data-repeater-delete id="ccurdel"> <i class="ft-x"></i>Delete</button>
                                                                  </div>
                                                                  </div>
                                                                  </div>
</form>
</div>
</div>
<button type="submit" class="btn btn-primary" id="urlsave" ><i class="la la-check-square-o"></i> Save</button>
<button type="submit" class="btn btn-primary" id="purlsaveperson" hidden><i class="la la-check-square-o"></i> Save</button>
  <button data-repeater-create class="btn btn-primary"><i class="ft-plus"></i> Add</button>
  <button type="submit" class="btn btn-warning" id="urlcancel"> Cancel</button>
</div>
