{{ define "main" }}
<div class="app-content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title mb-0">Transactions</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item">Accounting
                            </li>
                            <li class="breadcrumb-item">Transactions
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

              </div>
            <div class="content-body">
                <!-- Default styling start -->
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Filter</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show" >
                        <div class="card-body">
                            <div class="tab-content">
                              <div class="row">
                              <div class="col-md-6">
                              <div class="form-group"  >
                              <label for="cryptodesc">Type</label>
                              <select class="custom-select form-control" id="sttypeshow" name="location">
                                  <option value="">Select Type</option>
                                  <option value="bank">Bank Transactions</option>
                                  <option value="cassa">Cassa Transactions</option>
                              </select>
                              </div>

                            </div>
                                          <div class="col-md-6">
                                            <div class="form-group" >
                                                <label for="accnumber">Element</label>
                                                <select class="custom-select form-control" id="sttypeelementshow" name="location">
                                                <option value="">Select Element</option>
                                                </select>
</div>
</div>

                            </div>
                              <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group" >
                                        <label for="adrcountry">Year </label>
                                        <select class="custom-select form-control" id="filteryear" name="location">
                                            <option value="">Select Year</option>
                                            <option value="2016">2016</option>
                                            <option value="2017">2017</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021">2021</option>
                                        </select>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group" >
                                        <label for="adrcountry">Month</label>
                                        <select class="custom-select form-control" id="monthfilter" name="location">
                                            <option value="">All year</option>
                                            <option value="01">January</option>
                                            <option value="02">February</option>
                                            <option value="03">March</option>
                                            <option value="04">April</option>
                                            <option value="05">May</option>
                                            <option value="06">June</option>
                                            <option value="07">July</option>
                                            <option value="08">August</option>
                                            <option value="09">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>

                                          </select>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group" id="countryselect">
                                            <label for="adrcountry">From </label>
                                            <input type="date" class="form-control" id="from">
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group" id="countryselect">
                                            <label for="adrcountry">To </label>
                                            <input type="date" class="form-control" id="to">
                                        </div>
                                      </div>
                                      </div>

                                      <div class="row">
                                          <div class="col-md-12">
                                            <button type="submit" class="btn btn-success" id="showtransactionsbtn"><i class="la la-check-square-o"></i> Show</button>
                                          </div>
                                          </div>
                              </div>
                              </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Transactions</h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <smal>Find <span id="findrecords"></span> records</smal>
                                    </div>
                                    <div class="tab-content ">
                                        <div >Open Balance:  <span id="openbalance"></span> </div>
                                        </div>
                                <div class="tab-content">
                                  <div class="table-responsive" id="gltable" >
                                    <table class="table mb-0 table-striped restable"
                                    id="transactionstable"
                                    data-height="850"
                                    data-virtual-scroll="true"
                                    data-resizable-columns-id="table"
                                    data-resizable="false"
                                    data-show-columns="true"
                                    data-search="true"
                                    data-show-toggle="true"
                                    data-show-export="true"
                                    data-export-types='["csv", "json", "excel", "doc", "sql", "png"]'
                                    data-export-options='{
                                      "fileName": "transactions"
                                      }'
                                    >
                                        <thead>
                                            <tr>
                                                <th data-field="Date" data-sortable="true"  data-resizable-column-id="date">Date</th>
                                                <th data-field="Description" data-sortable="true"  data-resizable-column-id="description">Description</th>
                                                <th data-field="Withdrawal"  data-sortable="true"  data-resizable-column-id="haben">Withdrawal</th>
                                                <th data-field="Deposit" data-sortable="true"  data-resizable-column-id="soll">Deposit</th>
                                            </tr>
                                        </thead>
                                        <tbody >

                                        </tbody>
                                    </table>
                                </div>
                                  </div>
                                  <div class="tab-content ">
                                      <div >Total Transactions:  <span id="totaltrans"></span> </div>
                                      <div >Close Balance:  <span id="closebalance"></span> </div>
                                      </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                  </div>
</div>
{{ end }}
