{{ define "main" }}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Add Incoming Mail</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item active">Journals
                  </li>
                  <li class="breadcrumb-item"><a href="/incoming_mails">Incoming Mails</a>
                  </li>
                    <li class="breadcrumb-item active">Add Incoming Mail
                    </li>
                </ol>
            </div>
        </div>
    </div>
    </div>
    <section id="icon-tabs">
        <div class="row">
            <div class="col-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Add Incoming Mail</h4>
                      <a class="mycompheader heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                      <div class="heading-elements">
                          <ul class="list-inline mb-0">
                            <li><a data-action="collapse" id="mycompcollapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      </div>
                  </div>
                  <div class="card-content collapse show" id="mycompdet">
                      <div class="card-body">
                        <div id="agreementform" >
                          <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bildate">Received Date </label>
                                    <input type="date" class="form-control" id="receiveddata" >
                                </div>
                                <div class="form-group">
                                    <label for="bildate">Document Number </label>
                                    <input type="text" class="form-control" id="docenum" >
                                </div>
                                <div class="form-group">
                                    <label for="bildate">Need Answer</label>
                                    <input type="checkbox" class="form-control" id="needanswer" >
                                </div>

                                </div>
                                <div class="col-md-6">

                                  <div class="form-group" >
                                      <label for="counerparty">Sender Type</label>
                                      <select class="custom-select form-control" id="agrcounerpartytype" >
                                          <option value="">Select Counterparty Type</option>
                                          <option value="company">Company</option>
                                          <option value="person">Person</option>
                                      </select>
                                  </div>
                                  <div class="form-group" id="counerpartyselect" hidden>
                                      <label for="counerparty">Sender </label>
                                      <select class="custom-select form-control" id="counerparty" >
                                          <option value="">Select Counterparty</option>

                                      </select>
                                  </div>
                                  <div class="form-group">
                                      <label for="bildate">Answer Deadline </label>
                                      <input type="date" class="form-control" id="adeadline" >
                                  </div>
                                  </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" id="typeselect">
                                    <label for="description">Title </label>
                                    <textarea  id="title" rows="4" class="form-control"></textarea>
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" id="typeselect">
                                    <label for="description">Description </label>
                                    <textarea  id="description" rows="4" class="form-control"></textarea>
                                  </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group" id="typeselect">
                                      <label for="description">Comment </label>
                                      <textarea  id="commentc" rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                              </div>

                        </div >

<div class="row">
  <div class="col-md-12">
<div class="float-right">
<button type="submit" class="btn btn-success" id="saveincomemail"><i class="la la-check-square-o"></i> Save</button>
</div>
</div>
</div>
<div class="row">
  <div class="col-md-12">
        <div class="form-group">
        <form action="#" class="dropzone dropzone-area" id="incomemailfiles" hidden>
            <div class="dz-message">Drop Files Here To Upload</div>
        </form>
          </div>
    </div>
  </div>


              </div>
          </div>
      </div>

            </div>

    </section>
{{ end }}
