{{ define "main" }}
{{ "<!-- BEGIN: Content-->" | safeHTML }}

<div class="app-content ">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title mb-0">Person Profile</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item"><a href="/persons/">Persons</a>
                            </li>
                            <li class="breadcrumb-item">Person Profile
                            </li>
                            <li class="breadcrumb-item active" hidden>Edit Profile
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-header-right text-md-right col-md-6 col-12">
                <div class="btn-group">
                    <button class="btn btn-round btn-info mb-1" type="button"><i class="icon-cog3"></i> Edit Person</button>
                </div>

            </div>
        </div>
        <div class="content-body">
            <!-- account setting page start -->
            <section id="page-account-settings">
                <div class="row">
                    <!-- left menu section -->
                    <div class="col-md-3 mb-2 mb-md-0">
                        <ul class="nav nav-pills flex-column mt-md-0 mt-1">
                            <li class="nav-item">
                                <a class="nav-link d-flex active" id="account-pill-general" data-toggle="pill" href="#account-vertical-general" aria-expanded="true">
                                    <i class="ft-globe mr-50"></i>
                                    General Info
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex " id="account-pill-address" data-toggle="pill" href="#account-vertical-address" aria-expanded="false">
                                    <i class="la la-map-marker mr-50"></i>
                                    Adresses
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex " id="account-pill-bank" data-toggle="pill" href="#account-vertical-bank" aria-expanded="false">
                                    <i class="la la-institution mr-50"></i>
                                    Banks
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex " id="account-pill-crypto" data-toggle="pill" href="#account-vertical-crypto" aria-expanded="false">
                                    <i class="la la-btc mr-50"></i>
                                    Cryptocurrencies
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex" id="account-pill-phone" data-toggle="pill" href="#account-vertical-phone" aria-expanded="false">
                                    <i class="la la-phone-square mr-50"></i>
                                    Phone Book
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex " id="account-pill-email" data-toggle="pill" href="#account-vertical-email" aria-expanded="false">
                                  <i class="la la-envelope mr-50"></i>
                                    Email Book
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex" id="account-pill-url" data-toggle="pill" href="#account-vertical-url" aria-expanded="false">
                                    <i class="la la-internet-explorer mr-50"></i>
                                    URLs
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex" id="account-pill-custom" data-toggle="pill" href="#account-vertical-custom" aria-expanded="false">
                                    <i class="la la-book mr-50"></i>
                                    Custom Data
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex" id="account-pill-files" data-toggle="pill" href="#account-vertical-files" aria-expanded="false">
                                    <i class="la la-file-text mr-50"></i>
                                    Files
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- right content section -->
                    <div class="col-md-9">
                      <div class="card" id="newaddress" hidden >
                          <div class="card-header">
                              <h4 class="card-title">Address <i class="la la-check-circle-o font-medium-3" style="color:green;" hidden id="addrfinisheicon"></i></h4>
                              <a class="addressheader heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                              <div class="heading-elements">
                                  <ul class="list-inline mb-0">
                                    <li><a data-action="collapse" id="myaddrcollapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                              </div>
                          </div>
                          <div class="card-content" id="addresscard">
                              <div class="card-body">
                                {{ partial "forms/address.html" . }}
                              </div>
                          </div>

                      </div>
                      <div class="card" id="newbank" hidden >
                          <div class="card-header"  >
                              <h4 class="card-title">Bank Account <i class="la la-check-circle-o font-medium-3" style="color:green;" hidden id="addrfinisheicon"></i></h4>
                              <a class="addressheader heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                              <div class="heading-elements">
                                  <ul class="list-inline mb-0">
                                    <li><a data-action="collapse" id="myaddrcollapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                              </div>
                          </div>
                          <div class="card-content" id="bankcard">
                              <div class="card-body">
                                {{ partial "forms/bank_account.html" . }}
                              </div>
                          </div>

                      </div>
                      <div class="card" id="newcrypto" hidden >
                          <div class="card-header"  >
                              <h4 class="card-title">Cryptocurrency Account <i class="la la-check-circle-o font-medium-3" style="color:green;" hidden id="addrfinisheicon"></i></h4>
                              <a class="addressheader heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                              <div class="heading-elements">
                                  <ul class="list-inline mb-0">
                                    <li><a data-action="collapse" id="myaddrcollapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                              </div>
                          </div>
                          <div class="card-content" id="cryptocard">
                              <div class="card-body">
                                {{ partial "forms/crypto_account.html" . }}
                              </div>
                          </div>

                      </div>
                      <div class="card" id="newphone" hidden >
                          <div class="card-header"  >
                              <h4 class="card-title">Add Phone <i class="la la-check-circle-o font-medium-3" style="color:green;" hidden id="addrfinisheicon"></i></h4>
                              <a class="addressheader heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                              <div class="heading-elements">
                                  <ul class="list-inline mb-0">
                                    <li><a data-action="collapse" id="myaddrcollapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                              </div>
                          </div>
                          <div class="card-content" id="phonecard">
                              <div class="card-body">
                                {{ partial "forms/phone.html" . }}
                              </div>
                          </div>

                      </div>
                      <div class="card" id="newemail" hidden >
                          <div class="card-header"  >
                              <h4 class="card-title">Add Email <i class="la la-check-circle-o font-medium-3" style="color:green;" hidden id="addrfinisheicon"></i></h4>
                              <a class="addressheader heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                              <div class="heading-elements">
                                  <ul class="list-inline mb-0">
                                    <li><a data-action="collapse" id="myaddrcollapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                              </div>
                          </div>
                          <div class="card-content" id="emailcard">
                              <div class="card-body">
                                {{ partial "forms/email.html" . }}
                              </div>
                          </div>

                      </div>
                      <div class="card" id="newurl" hidden >
                          <div class="card-header"  >
                              <h4 class="card-title">Add URL <i class="la la-check-circle-o font-medium-3" style="color:green;" hidden id="addrfinisheicon"></i></h4>
                              <a class="addressheader heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                              <div class="heading-elements">
                                  <ul class="list-inline mb-0">
                                    <li><a data-action="collapse" id="myaddrcollapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                              </div>
                          </div>
                          <div class="card-content" id="urlcard">
                              <div class="card-body">
                                {{ partial "forms/url.html" . }}
                              </div>
                          </div>

                      </div>
                      <div class="card" id="newcustom" hidden >
                          <div class="card-header"  >
                              <h4 class="card-title">Add Custom Data <i class="la la-check-circle-o font-medium-3" style="color:green;" hidden id="addrfinisheicon"></i></h4>
                              <a class="addressheader heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                              <div class="heading-elements">
                                  <ul class="list-inline mb-0">
                                    <li><a data-action="collapse" id="myaddrcollapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                              </div>
                          </div>
                          <div class="card-content" id="ustomcard">
                              <div class="card-body">
                                {{ partial "forms/custom.html" . }}
                              </div>
                          </div>

                      </div>
                      <div class="card" id="newfile" hidden >
                          <div class="card-header"  >
                              <h4 class="card-title">Add Files <i class="la la-check-circle-o font-medium-3" style="color:green;" hidden id="addrfinisheicon"></i></h4>
                              <a class="addressheader heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                              <div class="heading-elements">
                                  <ul class="list-inline mb-0">
                                    <li><a data-action="collapse" id="myaddrcollapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                              </div>
                          </div>
                          <div class="card-content" id="filescard">
                              <div class="card-body">
                                {{ partial "forms/addfiles.html" . }}
                              </div>
                          </div>

                      </div>

                      {{ partial "forms/addavatar.html" . }}

                      <div class="col-md-9">
                      <div class="card">
                          <div class="card-content">
                              <div class="card-body">
                                  <div class="tab-content">
                                      <div role="tabpanel" class="tab-pane active" id="account-vertical-general" aria-labelledby="account-pill-general" aria-expanded="true">
                                          <div class="media">
                                              <a href="javascript: void(0);">
                                                  <img src="" class="rounded mr-75" alt="profile image" height="64" width="64" id="personavatar">
                                              </a>
                                              <div > <h2 id="cnameh"></h2>
                                                <p class="text-muted mt-50"><small id="persid"></small></p>
                                                </div>
                                              <div class="media-body mt-75" hidden>
                                                  <div class="col-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
                                                      <label class="btn btn-sm btn-primary ml-50 mb-50 mb-sm-0 cursor-pointer" for="account-upload">Upload new photo</label>
                                                      <input type="file" id="account-upload" hidden>
                                                      <button class="btn btn-sm btn-secondary ml-50">Reset</button>
                                                  </div>
                                                  <p class="text-muted ml-75 mt-50"><small>Allowed JPG, GIF or PNG. Max size of 1 Mb</small></p>
                                              </div>
                                          </div>
                                          <hr>

                                            <h4>General Information</h4>
                                              {{ partial "tables/personprofile.html" . }}

                                        </div>
                                        <div class="tab-pane fade " id="account-vertical-address" role="tabpanel" aria-labelledby="account-pill-address" aria-expanded="false">
                                          <h4>Adress book</h4>
                                          <div class="heading-elements float-right">
                                                  <button class="btn btn-sm btn-secondary ml-50 mb-2 mr-2" id="addnewadress">Add Address</button>
                                          </div>
                                          <div id="addrmsg"></div>
                                          {{ partial "tables/address.html" . }}
                                        </div>
                                        <div class="tab-pane fade " id="account-vertical-bank" role="tabpanel" aria-labelledby="account-pill-bank" aria-expanded="false">
                                          <h4>Bank accounts</h4>
                                          <div class="heading-elements float-right ">
                                                  <button class="btn btn-sm btn-secondary ml-50 mb-2 mr-2" id="addnewbank">Add Bank Account</button>
                                          </div>
                                          <div id="bankmsg mt-4"></div>
                                          <div id="banksinfo"></div>
                                        </div>
                                        <div class="tab-pane fade " id="account-vertical-crypto" role="tabpanel" aria-labelledby="account-pill-crypto" aria-expanded="false">
                                          <h4>Cryptocurrency accounts</h4>
                                          <div class="heading-elements float-right ">
                                                  <button class="btn btn-sm btn-secondary ml-50 mb-2 mr-2" id="addnewcrypto">Add Cryptocurrency Account</button>
                                          </div>
                                          <div id="cryptomsg" class="mt-4"></div>
                                          {{ partial "tables/crypto.html" . }}
                                        </div>
                                        <div class="tab-pane fade " id="account-vertical-phone" role="tabpanel" aria-labelledby="account-pill-phone" aria-expanded="false">
                                          <h4>Phone book</h4>
                                          <div class="heading-elements float-right">
                                                  <button class="btn btn-sm btn-secondary ml-50 mb-2 mr-2" id="addnewphone">Add Phone</button>
                                          </div>
                                          <div id="phonemsg"></div>
                                          {{ partial "tables/phone.html" . }}

                                        </div>
                                        <div class="tab-pane fade " id="account-vertical-email" role="tabpanel" aria-labelledby="account-pill-email" aria-expanded="false">
                                          <h4>Email book</h4>
                                          <div class="heading-elements float-right">
                                                  <button class="btn btn-sm btn-secondary ml-50 mb-2 mr-2" id="addnewemail">Add Email</button>
                                          </div>
                                          <div id="emailmsg"></div>
                                          {{ partial "tables/email.html" . }}

                                        </div>
                                        <div class="tab-pane fade " id="account-vertical-url" role="tabpanel" aria-labelledby="account-pill-url" aria-expanded="false">
                                          <h4>Urls</h4>
                                          <div class="heading-elements float-right">
                                                  <button class="btn btn-sm btn-secondary ml-50 mb-2 mr-2" id="addnewurl">Add URL</button>
                                          </div>
                                          <div id="urlmsg"></div>
                                          {{ partial "tables/url.html" . }}

                                        </div>
                                        <div class="tab-pane fade " id="account-vertical-custom" role="tabpanel" aria-labelledby="account-pill-custom" aria-expanded="false">
                                          <h4>Custom Data</h4>
                                          <div class="heading-elements float-right">
                                                  <button class="btn btn-sm btn-secondary ml-50 mb-2 mr-2" id="addnewcustom">Add Custom Data</button>
                                          </div>
                                          <div id="custommsg"></div>
                                          {{ partial "tables/custom.html" . }}

                                        </div>
                                        <div class="tab-pane fade " id="account-vertical-files" role="tabpanel" aria-labelledby="account-pill-files" aria-expanded="false">
                                          <h4>Files</h4>
                                          <div class="heading-elements float-right">
                                                  <button class="btn btn-sm btn-secondary ml-50 mb-2 mr-2" id="addnewfile">Add Files</button>
                                          </div>
                                          <div id="filesmsg"></div>
                                   {{ partial "tables/files.html" . }}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            {{ "<!-- account setting page end -->" | safeHTML }}

        </div>
    </div>
</div>

{{ "<!-- END: Content-->" | safeHTML }}

{{ end }}
