{{ define "main" }}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Add New Income</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item">Journals
                  </li>
                  <li class="breadcrumb-item"><a href="/incomes">Incomes</a>
                  </li>
                    <li class="breadcrumb-item active">New Income
                    </li>
                </ol>
            </div>
        </div>
    </div>
    </div>
    <section id="icon-tabs">
        <div class="row">
            <div class="col-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Add New Income</h4>
                      <a class="mycompheader heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                      <div class="heading-elements">
                          <ul class="list-inline mb-0">
                            <li><a data-action="collapse" id="mycompcollapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      </div>
                  </div>
                  <div class="card-content collapse show" id="mycompdet">
                      <div class="card-body">
                        <div id="invoiceform" >
                          <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                <label for="bildate">Amount</label>
                                    <input type="text" class="form-control" id="amount" >
                                </div>

                                <div class="form-group" id="typeselect">
                                    <label for="invoicetype">Currency </label>
                                    <select class="custom-select form-control" id="currencies" >
                                        <option value="">Select Currency</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="bildate">Income Date </label>
                                    <input type="date" class="form-control" id="indate" >
                                </div>


                                </div>
                                <div class="col-md-6">
                                  <div class="form-group" >
                                      <label for="counerparty">Counterparty Type</label>
                                      <select class="custom-select form-control" id="agrcounerpartytype" >
                                          <option value="">Select Counterparty Type</option>
                                          <option value="company">Company</option>
                                          <option value="person">Person</option>
                                      </select>
                                  </div>
                                  <div class="form-group" id="counerpartyselect" hidden>
                                      <label for="counerparty">Counterparty </label>
                                      <select class="custom-select form-control" id="counerparty" >
                                          <option value="">Select Counterparty</option>
                                      </select>
                                  </div>
                                    <div class="form-group" >
                                        <label for="counerparty">Account Type</label>
                                        <select class="custom-select form-control" id="acctype">
                                            <option value="">Select Account Type</option>
                                            <option value="bank">Bank</option>
                                            <option value="cassa">Cassa</option>
                                            <option value="crypto">Cryptocurrency</option>
                                            <option value="broker">Brokerage Account</option>
                                        </select>
                                    </div>
                                    <div class="form-group" id="acctypeselect" hidden>
                                        <label for="acctypes" id="acctypelabel">Customer </label>
                                        <select class="custom-select form-control" id="acctypes" >
                                            <option value="">Select Customer</option>

                                        </select>
                                    </div>
                                  </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" >
                                    <label for="description">Comment </label>
                                    <textarea name="commentc" id="comment" rows="4" class="form-control"></textarea>
                                  </div>
                              </div>
                            </div>

                        </div >
                        <div class="row" id="invoicecontent" class="table-responsive" index="1">
                          <div class="col-md-12">
                        <div><h4>Income Details</h4></div>
                        <div class="invoiceformrepeater">
                        <div data-repeater-list="car">
                        <div data-repeater-item>
                          <form >
                          <table class="table mb-0">
         <thead>
           <tr>
             <th  >#</th>
             <td class="indexcounter" name="text-input">1</td>
             </tr>
             <tr>
               <th >Description</th>
               <td ><input type="text" class="form-control " name="descinput"></td>
             </tr>
             <tr>
               <th >Amount</th>
               <td ><input type="text" class="form-control " name="amountinput"></td>
             </tr>
             <tr>
               <th >VAT %</th>
               <td >
                 <select class="custom-select form-control vatsel" name="vatpercentinput" id="selvatr">
                     <option value="">Select VAT %</option>
                 </select>
               </td>
             </tr>
             <tr>
               <th >VAT</th>
               <td ><input type="text" class="form-control " name="VATinput"></td>
             </tr>
             <tr>
               <th >Is VAT paid in other EU country?</th>
               <td ><input type="checkbox" class="form-control checkb" name="vatineu"></td>
             </tr>
             <tr>
               <th >Total Amount</th>
               <td ><input type="text" class="form-control " name="totalamountinput"></td>
             </tr>
             <tr>
             <th >Category</th>
             <td >
               <fieldset class="position-relative has-icon-left">
                <input type="text" class="form-control acccode" name="categoryinput" readonly style="cursor:pointer;">
               <div class="form-control-position">
                  <i class="la la-plus-circle font-medium-4 acccode" style="cursor:pointer;"></i>
                </div>
              </fieldset>
             </td>
           </tr>
             <tr>
             <th >Basis Document</th>
             <td ><select class="custom-select form-control basis" name="basistype"  >
                 <option value="">Select Basis Document</option>
                 <option value="invoice">Invoice</option>
                 <option value="creditnote">Credit Note</option>
                 <option value="intrest">Intrest</option>
                 <option value="vat">VAT Refund</option>
                 <option value="tax">Tax Refund</option>
                 <option value="tranche">Loan Tranche</option>
                 <option value="settelment">Loan Settelment</option>
                 <option value="notalocated">Not Alocated</option>
                 <option value="other">Other</option>
             </select></td>
           </tr>
           <tr>
             <th >Basis</th>
             <td > <fieldset class="position-relative has-icon-left">
               <input type="text" class="form-control outinvoices" name="basis" readonly style="cursor:pointer;">
              <div class="form-control-position">
                 <i class="la la-plus-circle font-medium-4 outinvoices" style="cursor:pointer;"></i>
               </div>
             </fieldset></td>
           </tr>
           <tr>
             <th >Comment</th>
             <td ><input type="text" class="form-control " name="commentinput"></td>
           </tr>
         </thead>
</table>
</form>
  </div>
  </div>

<div class="form-group overflow-hidden">
    <div class="col-12">
        <button data-repeater-create class="btn btn-primary"><i class="ft-plus"></i> Add</button>
        </div>
    </div>
    </div>
    <div class="float-right">
    <button type="submit" class="btn btn-success" id="saveincome"><i class="la la-check-square-o"></i> Save</button>
    </div>
</div>
</div>
</div>
</div>
</div>

            </div>
        </div>
    </section>
{{ end }}
