{{ define "main" }}
<div class="app-content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title mb-0">Delivery Orders</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item">Inventory
                            </li>
                            <li class="breadcrumb-item">Delivery Orders
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-header-right text-md-right col-md-6 col-12">
                <div class="btn-group">
                    <a class="btn btn-round btn-info mb-1" type="button" href="/create_invoice"><i class="icon-cog3"></i> Create</a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-round btn-info mb-1" type="button" href="/import_outgoing_invoice"><i class="icon-cog3"></i> Import</a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-round btn-info mb-1" type="button" href="/import_outgoing_invoice"><i class="icon-cog3"></i> Export</a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-round btn-info mb-1" type="button" href="/import_outgoing_invoice"><i class="icon-cog3"></i> Filter</a>
                </div>

            </div>
              </div>
            <div class="content-body">
                <!-- Default styling start -->
                    <div class="row">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Delivery Orders</h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                              <div class="tab-content">
                                  <smal>Find <span id="findrecords"></span> records: 159</smal>
                                  </div>
                                <div class="tab-content">
                                  <div class="table-responsive"  >
                                    <div style="width:1500px;">
                                      <table class="table mb-0 table-striped restable"
                                        id="outinvoicestable"
                                        data-height="450"
                                        data-virtual-scroll="true"
                                        data-resizable-columns-id="table"
                                        data-resizable="true"
                                        data-show-columns="true"
                                        data-search="true"
                                        data-show-toggle="true"
                                        data-row-attributes="outinvoicesAttributes">
                                        <thead >
                                            <tr >
                                                <th  data-field="#" data-sortable="true" data-resizable-column-id="#">#</th>
                                                <th  data-field="Type" data-sortable="true" data-resizable-column-id="type">Reference</th>
                                                <th data-field="Counterparty" data-sortable="true" data-resizable-column-id="cp">Warehouse</th>
                                                <th  data-field="Status" data-formatter="statusFormatter" data-sortable="true" data-resizable-column-id="status">Scheduled Date</th>
                                                <th  data-field="BillingDate" data-sortable="true" data-resizable-column-id="created">Source Document</th>
                                                <th  data-field="Amount" data-formatter="currencyFormatter" data-sortable="true" data-resizable-column-id="amount">Company</th>
                                                <th data-field="VAT" data-formatter="currencyFormatter" data-sortable="true" data-resizable-column-id="vat">Status</th>
                                            </tr>
                                        </thead>
                                        <tr>
                                        <td>1</td>
                                        <td>WS/OUT/2892</td>
                                        <td>Nueremberg WS45</td>
                                        <td>19 May 2023</td>
                                        <td>VS3599324</td>
                                        <td>MyMates GmbH</td>
                                        <td>Delivered</td>
                                        </tr>
                                        <tr>
                                        <td>2</td>
                                        <td>WS/OUT/2893</td>
                                        <td>Nueremberg WS45</td>
                                        <td>19 May 2023</td>
                                        <td>VS3599324</td>
                                        <td>MyMates GmbH</td>
                                        <td>Delivered</td>
                                        </tr>
                                        <tr>
                                        <td>3</td>
                                        <td>WS/OUT/2894</td>
                                        <td>Nueremberg WS45</td>
                                        <td>19 May 2023</td>
                                        <td>XF19763340</td>
                                        <td>MyMates GmbH</td>
                                        <td>Delivered</td>
                                        </tr>
                                        <tr>
                                        <td>4</td>
                                        <td>WS/IN/1965</td>
                                        <td>Nueremberg WS45</td>
                                        <td>19 May 2023</td>
                                        <td>TR39986203</td>
                                        <td>MyMates GmbH</td>
                                        <td>Delivered</td>
                                        </tr>
                                        <tr>
                                        <td>5</td>
                                        <td>WS/IN/1966</td>
                                        <td>Nueremberg WS45</td>
                                        <td>19 May 2023</td>
                                        <td>TR39986204</td>
                                        <td>MyMates GmbH</td>
                                        <td>Delivered</td>
                                        </tr>
                                        <tr>
                                        <td>6</td>
                                        <td>WS/OUT/2895</td>
                                        <td>Nueremberg WS45</td>
                                        <td>19 May 2023</td>
                                        <td>MS1988803</td>
                                        <td>MyMates GmbH</td>
                                        <td>Delivered</td>
                                        </tr>
                                        <tr>
                                        <td>7</td>
                                        <td>WS/OUT/2896</td>
                                        <td>Nueremberg WS45</td>
                                        <td>19 May 2023</td>
                                        <td>MS1988803</td>
                                        <td>MyMates GmbH</td>
                                        <td>Delivered</td>
                                        </tr>
                                        <tr>
                                        <td>8</td>
                                        <td>WS/IN/1966</td>
                                        <td>Nueremberg WS45</td>
                                        <td>19 May 2023</td>
                                        <td>VS3599324</td>
                                        <td>MyMates GmbH</td>
                                        <td>Delivered</td>
                                        </tr>
                                        <tr>
                                        <td>9</td>
                                        <td>WS/OUT/2892</td>
                                        <td>Nueremberg WS45</td>
                                        <td>19 May 2023</td>
                                        <td>XS2463343</td>
                                        <td>MyMates GmbH</td>
                                        <td>Delivered</td>
                                        </tr>
                                    </table>
                                </div>
                                </div>
                                  </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                  </div>
</div>
{{ end }}
