<div class="table-responsive">
    <table class="table mb-0" id="cprof" data-mobile-responsive="true">
        <tbody>
            <tr>
                <th scope="row" class="border-top-0" >Type :</th>
                <td class="border-top-0 text-right" id="agrtype"></td>
            </tr>
            <tr>
                <th scope="row" >Customer :</th>
                <td class="text-right" id="acustomer"></td>
            </tr>
            <tr class="hiddencdetails" >
                <th scope="row" >Counterparty :</th>
                <td class="text-right" id="acounterparty"></td>
            </tr>
            <tr>
                <th scope="row" >Start Date :</th>
                <td class="text-right" id="astartdate"></td>
            </tr>
            <tr class="hiddencdetails" >
                <th scope="row" >End Date :</th>
                <td class="text-right" id="aenddate"></td>
            </tr>
            <tr class="hiddencdetails" >
                <th scope="row" >Description :</th>
                <td class="text-right" id="adesc"></td>
            </tr>
            <tr class="hiddencdetails" >
                <th scope="row" >Comment :</th>
                <td class="text-right" id="acoment"></td>
            </tr>
            <tr class="hiddencdetails" >
                <th scope="row" >Created :</th>
                <td class="text-right" id="acreated"></td>
            </tr>
            <tr class="hiddencdetails" >
                <th scope="row" >Created By :</th>
                <td class="text-right" id="acreatedby"></td>
            </tr>
            <tr>
                <th scope="row" >Edited :</th>
                <td class="text-right" id="aedited"></td>
            </tr>
            <tr class="hiddencdetails" >
                <th scope="row" >Edited By :</th>
                <td class="text-right" id="aeditedby"></td>
            </tr>
            <tr>
                <th scope="row" >Complited By :</th>
                <td class="text-right" id="acompiledby"></td>
            </tr>

        </tbody>
    </table>
</div>
