<div class="table-responsive" id="cryptotable">
  <table class="table mb-0 table-striped restable"
  data-height="450"
  data-virtual-scroll="true"
  data-resizable-columns-id="table"
  data-resizable="false"
  data-show-columns="true"
  data-search="true"
  data-show-toggle="true">
        <thead>
            <tr>
                <th>#</th>
                <th>Description</th>
                <th>Type</th>
                <th>Account</th>
                <th>Comment</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="cryptotbody">
        </tbody>
    </table>
</div>
