<div class="table-responsive" id="emailinsettable">
    <table class="table mb-0">
        <tbody>
            <tr>
                <th scope="row" class="border-top-0">Host :</th>
                <td class="border-top-0 text-right" id="host"></td>
            </tr>
            <tr>
                <th scope="row">Port :</th>
                <td class="text-right" id="isport"></td>
            </tr>
            <tr >
                <th scope="row">User :</th>
                <td class="text-right" id="isuser"></td>
            </tr>
            <tr>
                <th scope="row">Email :</th>
                <td class="text-right" id="isemailset"></td>
            </tr>
            <tr >
                <th scope="row">Reply :</th>
                <td class="text-right" id="isreply"></td>
            </tr>
            <tr >
                <th scope="row">Title :</th>
                <td class="text-right" id="istitle"></td>
            </tr>
        </tbody>
    </table>
</div>
