<div class="table-responsive" id="insettable">
    <table class="table mb-0">
        <tbody>
            <tr>
                <th scope="row" class="border-top-0">Address :</th>
                <td class="border-top-0 text-right" id="isaddr"></td>
            </tr>
            <tr>
                <th scope="row">Bank Account :</th>
                <td class="text-right" id="isbank"></td>
            </tr>
            <tr >
                <th scope="row">Phone :</th>
                <td class="text-right" id="isphone"></td>
            </tr>
            <tr>
                <th scope="row">Fax :</th>
                <td class="text-right" id="isfax"></td>
            </tr>
            <tr >
                <th scope="row">Mobile :</th>
                <td class="text-right" id="ismob"></td>
            </tr>
            <tr >
                <th scope="row">Email :</th>
                <td class="text-right" id="isemail"></td>
            </tr>
            <tr >
                <th scope="row">Url :</th>
                <td class="text-right" id="isurl"></td>
            </tr>
        </tbody>
    </table>
</div>
