<div class="mb-2 mt-4 ">
  <table class="table mb-0 table-striped restable"
  id="logotable"
  data-resizable-columns-id="table"
  data-resizable="true"
  data-show-columns="true"
  data-search="true"
  data-show-toggle="true">
<tbody>
<tr>
<th scope="row" class="border-top-0" data-field="Shortlogo" data-sortable="true">Short Logo</th>
<td class="border-top-0 text-right" ><img id="shortclogogimg" style="height:70px;"></td>
<td class="border-top-0 text-right" ><button class="btn btn-sm btn-secondary ml-50 mb-2 mr-2" id="sladd">Upload New</button></td>
</tr>
<tr>
<th scope="row" data-field="logo" data-sortable="true">Logo</th>
<td class="text-right" ><img id="clogogimg" style="height:70px;"></td>
<td class="border-top-0 text-right" ><button class="btn btn-sm btn-secondary ml-50 mb-2 mr-2" id="ladd">Upload New</button></td>
</tr>
<tr>
<th scope="row" data-field="invoicelogo" data-sortable="true">Invoice Logo</th>
<td class="text-right" ><img id="invoicelogogimg" style="height:70px;"></td>
<td class="border-top-0 text-right"><button class="btn btn-sm btn-secondary ml-50 mb-2 mr-2" id="inladd">Upload New</button></td>
</tr>
</tbody>
</table>
</div>
