<div class="table-responsive">
    <table class="table mb-0" id="cprof" data-mobile-responsive="true">
        <tbody>
            <tr>
                <th scope="row" class="border-top-0" >MailID :</th>
                <td class="border-top-0 text-right" id="mailid"></td>
            </tr>
            <tr>
                <th scope="row" >Outgoing Number :</th>
                <td class="text-right" id="outnumber"></td>
            </tr>
            <tr class="hiddencdetails" >
                <th scope="row" >Incoming Number :</th>
                <td class="text-right" id="innumber"></td>
            </tr>
            <tr class="hiddencdetails" >
                <th scope="row" >Sender :</th>
                <td class="text-right" id="sender"></td>
            </tr>
            <tr class="hiddencdetails" >
                <th scope="row" >Title :</th>
                <td class="text-right" id="title"></td>
            </tr>
            <tr class="hiddencdetails" >
                <th scope="row" >Description :</th>
                <td class="text-right" id="desc"></td>
            </tr>
            <tr>
                <th scope="row" >Comment :</th>
                <td class="text-right" id="comment"></td>
            </tr>
            <tr class="hiddencdetails" >
                <th scope="row" >TicketID :</th>
                <td class="text-right" id="ticketid"></td>
            </tr>
            <tr class="hiddencdetails" >
                <th scope="row" >Created By :</th>
                <td class="text-right" id="acreatedby"></td>
            </tr>
            <tr>
                <th scope="row" >Created At :</th>
                <td class="text-right" id="createdat"></td>
            </tr>
            <tr class="hiddencdetails" >
                <th scope="row" >Deadline :</th>
                <td class="text-right" id="deadline"></td>
            </tr>
        </tbody>
    </table>
</div>
