<div class="table-responsive">
    <table class="table mb-0">
        <tbody>
            <tr>
                <th scope="row" class="border-top-0">Birth Date :</th>
                <td class="border-top-0 text-right" id="bd"></td>
            </tr>
            <tr>
                <th scope="row">Country of Birth:</th>
                <td class="text-right" id="cb"></td>
            </tr>
            <tr >
                <th scope="row">City of Birth:</th>
                <td class="text-right" id="cib"></td>
            </tr>
            <tr>
                <th scope="row">Sex :</th>
                <td class="text-right" id="sex"></td>
            </tr>
            <tr >
                <th scope="row">Citizenship :</th>
                <td class="text-right" id="cit"></td>
            </tr>
            <tr >
                <th scope="row">Address :</th>
                <td class="text-right" id="addr"></td>
            </tr>
            <tr >
                <th scope="row">Document Type :</th>
                <td class="text-right" id="doct"></td>
            </tr>
            <tr >
                <th scope="row">Document Number :</th>
                <td class="text-right" id="docn"></td>
            </tr>
            <tr >
                <th scope="row">Issued :</th>
                <td class="text-right" id="iss"></td>
            </tr>
            <tr>
                <th scope="row">Expired :</th>
                <td class="text-right" id="exp"></td>
            </tr>
            <tr >
                <th scope="row">Tax Residence :</th>
                <td class="text-right" id="tred"></td>
            </tr>
            <tr>
                <th scope="row">Tax ID :</th>
                <td class="text-right" id="tid"></td>
            </tr>
            <tr>
                <th scope="row">Status :</th>
                <td class="text-right" id="occ"></td>
            </tr>
            <tr>
                <th scope="row">Ocupation :</th>
                <td class="text-right" id="occ"></td>
            </tr>
            <tr>
                <th scope="row">Department :</th>
                <td class="text-right" id="dep"></td>
            </tr>
            <tr>
                <th scope="row">Office Location :</th>
                <td class="text-right" id="oc"></td>
            </tr>
            <tr>
                <th scope="row">Base Salary :</th>
                <td class="text-right" id="salary"></td>
            </tr>
            <tr>
                <th scope="row">Works From :</th>
                <td class="text-right" id="wf"></td>
            </tr>
            <tr>
                <th scope="row">Works till :</th>
                <td class="text-right" id="wt"></td>
            </tr>
            <tr>
                <th scope="row">Comment :</th>
                <td class="text-right" id="commentp"></td>
            </tr>
            <tr>
                <th scope="row">Created  :</th>
                <td class="text-right" id="created"></td>
            </tr>
            <tr>
                <th scope="row">Edited  :</th>
                <td class="text-right" id="edited"></td>
            </tr>
        </tbody>
    </table>
</div>
